[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=pkexec env DISPLAY=:0 XAUTHORITY=/run/user/1000/.mutter-Xwaylandauth.4BA7H2 /home/paolo/git/dotfiles/update_script/update.sh
Name=Update Script
Icon=

[Desktop Action Run as root]
Name=Run as root
Exec=pkexec env DISPLAY=:0 XAUTHORITY=/run/user/1000/.mutter-Xwaylandauth.4BA7H2 /home/paolo/git/dotfiles/update_script/update.sh
